Clearcut_RUSLE_Model\rusle_summary_by_year_pixelwise.csv
Clearcut_RUSLE_Model\sample_data\DEM\DEM_UTM10N_clipped.tif
Clearcut_RUSLE_Model\sample_data\DEM\OR_DEM_10m_raster.tif
Clearcut_RUSLE_Model\sample_data\DEM\OR_DEM_10m_raster.tif.ovr
Clearcut_RUSLE_Model\sample_data\soil_data\k_utm_v2.tif
